In [41]:
# 載入基本套件
import pandas as pd
import numpy as np

# 讀取訓練與測試資料
data_path = 'C:\\Users\\J6404\\Downloads\\'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')
df_train.shape

(891, 12)

In [42]:
# 重組資料成為訓練 / 預測用格式
train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.shape

(1309, 10)

In [43]:
# 秀出資料欄位的類型與數量
dtype_df = df.dtypes.reset_index()
dtype_df.columns = ["Count", "Column Type"]
dtype_df = dtype_df.groupby("Column Type").aggregate('count').reset_index()
dtype_df

  Column Type  Count
0       int64      3
1     float64      2
2      object      5

In [45]:
#確定只有 int64, float64, object 三種類型後, 分別將欄位名稱存於三個 list 中
int_features = []
float_features = []
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64':
        float_features.append(feature)
    elif dtype == 'int64':
        int_features.append(feature)
    else:
        object_features.append(feature)
print(f'{len(int_features)} Integer Features : {int_features}\n')
print(f'{len(float_features)} Float Features : {float_features}\n')
print(f'{len(object_features)} Object Features : {object_features}')

3 Integer Features : ['Pclass', 'SibSp', 'Parch']

2 Float Features : ['Age', 'Fare']

5 Object Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

In [46]:
#作業一
#整數 (int) 特徵取平均 (mean)
df[int_features].mean()

Pclass    2.294882
SibSp     0.498854
Parch     0.385027
dtype: float64

In [47]:
#整數 (int) 特徵最大值(max)
df[int_features].max()

Pclass    3
SibSp     8
Parch     9
dtype: int64

In [49]:
#整數 (int) 特徵取相異值(nunique)
df[int_features].nunique()

Pclass    3
SibSp     7
Parch     8
dtype: int64

In [50]:
#浮點數 (Float) 特徵取平均 (mean)
df[float_features].mean()

Age     29.881138
Fare    33.295479
dtype: float64

In [51]:
#浮點數 (Float) 特徵取最大值 (max)
df[float_features].max()

Age      80.0000
Fare    512.3292
dtype: float64

In [52]:
#浮點數 (Float) 特徵取相異值(nunique)
df[float_features].nunique()

Age      98
Fare    281
dtype: int64

In [53]:
#物件 (object) 特徵取平均 (mean)
df[object_features].mean()

Series([], dtype: float64)

In [54]:
#物件 (object) 特徵取最大值 (max)
df[object_features].max()

Name      van Melkebeke, Mr. Philemon
Sex                              male
Ticket                      WE/P 5735
dtype: object

In [55]:
#物件 (object) 特徵取相異值(nunique)
df[object_features].nunique()

Name        1307
Sex            2
Ticket       929
Cabin        186
Embarked       3
dtype: int64

執行以上九個操作，發現物件無法取平均值，可能是因為文字無法進運算
物件取最大值，雖然有值出現，但是無法理解函數給出最大值的意義

作業二
速度與向量是可以用來描述物體運動的特徵
我認為這兩樣比較類似於數值型的特徵
我認為類別型的特徵較難處理，如果沒有合理的定義與轉換，可能該特徵值在模型中無法表現出特徵。